<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/twitter5.png" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <table class="ui celled table segment">
        <thead>
        <tr>
          <th>To</th>
          <th>Message</th>
          <th>From</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {{#each tweets}}
          <tr>
            <td> {{receiver}} </td>
            <td> {{content}} </td>
            <td> {{sender.firstName}} {{sender.lastName}} </td>
            <td>{{formatDate createdAt "short"}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </article>
  </div>
</section>